body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #f0f0f0;
}
h1 {
    color: #333;
    text-align: center;
    background: #abdbb2;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(200, 205, 144, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    background: #e0ee91;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a {
    text-decoration: none;
    color: #34020e;
    font-weight: bold;
}
a:hover {
    text-decoration: underline;
}
